 button.increment {
    background-color: rgb(10, 86, 10);
    color: white;
    text-align: center;
    
  }
  
  button.decrement {
    background-color: rgb(98, 12, 12);
    color: white;
  }
  .green{
    background-color: rgb(10, 82, 10);
    color: white;
    width: 300px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }
  .red{
    background-color: rgb(110, 15, 15);
    color: white;
    width: 300px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  button {
    margin: 0 5px; 
  } 

  