<table>
    <thead>
      <tr style="color: #369;">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Branch</th>
        <th>DOB</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" [ngStyle]="{ 'background-color': student.Gender === 'Male' ? 'red' : 'green' }">
        <td>{{ student.ID }}</td>
        <td>{{ student.FirstName }}</td>
        <td>{{ student.LastName }}</td>
        <td>{{ student.Branch }}</td>
        <td>{{ student.DOB }}</td>
        <td>{{ student.Gender }}</td>
      </tr>
      <tr *ngIf="!students || students.length === 0">
        <td colspan="6" style="color: white;">No Students to display</td>
      </tr>
    </tbody>
  </table>
  